.container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.content {
    background-image: linear-gradient(to right, rgb(64, 1 , 177), rgb(82, 8, 255));
    margin: 5px;
    width: 40%;
    border-radius: 5px;
    box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.3);
    min-height: 100px;
}

@media (max-width: 970px) {
    .container{
        flex-wrap: wrap;
    }
}
@media (max-width: 380px) {
    .container{
        flex-direction: column;
    }
    .content{
        margin: 5px 0px 5px 0px;
        width: 100%;
    }
}