*{
    margin: 0;
    padding: 0;
}
body {
    background-color: blueviolet;
}

div {
    text-align: center;
}
.mural{
    background-color: rgb(231, 109, 79);
    padding-top: 20px;
    padding-bottom: 20px;
}
.cabecalho{
    background-color: aqua;
    padding-bottom: 10px;
}
h1 {
    color: black;
}

h2 {
    color: red;
    padding-bottom: 10px;
}
.container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.content {
    background-image: linear-gradient(to right, rgb(64, 1 , 177), rgb(82, 8, 255));
    margin: 5px;
    width: 40%;
    border-radius: 5px;
    box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.3);
    min-height: 100px;
}

.loren{
    font-family: monospace;
    color: white;
    padding: 10px;
    text-align: justify;
}
img {
    width: 200px;
    height: 220px;
}
a.uana{
    text-decoration: none;
    color: white;
}

@media (max-width: 970px) {
    .container{
        flex-wrap: wrap;
    }
}
@media (max-width: 600px) {
    .container{
        flex-direction: column;
    }
    .content{
        margin: 5px 0px 5px 0px;
        width: 100%;
    }
}