body {
    margin: 0;
    margin-left: 2px;
}
h1.informativo {
    color: blue;
    text-align: center;
}
h1 {
    color: orange;
    text-align: center;
}
h2 {
    color: aquamarine;
    text-align: center;
}
div.esquerda {
    background-color: red;
    margin-top: 0px;
    padding-top: 0px;
    border: 1px solid;
    height: auto;
    width: 500px;
    display: inline-block;
    margin-right: 20px;
}

div.direita {
    height: auto;
    width:auto;
    border: 1px solid;
    border-color: black;
    display: inline-block;
}
img {
    width: auto;
}