body, ul, li, p {
    margin: 0px;
    padding: 0px;
    list-style: none;
    font-size: 1.2ren;
    font-family: Arial;
}
body {
    margin-bottom: 100%;
}
body > h1 {
    font-size: 4vw;
}

a {
    text-decoration: none;
    color: white;
}

.header {
    background-color: black;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 20px;
    align-items: center; 
}

.menu{
    display: flex;
}

.menu li{
    margin-left: 10px;
}

.menu li a{
    display: block;
    padding: 10px;
}
h1{
    text-align: center;
}

.flex {
    display: flex;
    flex-wrap: wrap;
    max-width: 800px;
    margin: 0 auto;
    background-color: blue;
}
.flex > div {
    flex: 1 1 200px;
    margin: 10px;
}

img {
    max-width: 100%;
    display: flex;
}

section{
    padding: 15px;
    border: 1px solid black;
    text-align: center;
}
section > h1 {
    color: red;
    font-size: 4vw;
}
section > p {
    color: blue;
    font-size: 20px;
}

section > div > h1 {
    margin-top: 0px;
}
section > div > h3 {
    font-size: 1.5rem;
    color: yellow;
    margin-bottom: 5px;
    
}

section > div > h4 {
    margin-top: 0px;
    margin-bottom: 40px;
    color: white;
    font-size: 15px;
}


div {
    border-radius: 1px solid black;
    display: inline-block;
    margin: 100px
}